[Desktop Entry]
Name=Keryx
Comment=Cloud-sync, multi-platform RSS reader
Comment[ja]=クラウド同期・マルチプラットフォーム対応の RSS リーダー
Exec=keryx %u
Icon=${SNAP}/meta/gui/keryx.png
Terminal=false
Type=Application
Categories=Network;News;Feed;
MimeType=x-scheme-handler/keryx;application/x-opml+xml;text/x-opml;
