[Desktop Entry]
Name=Keryx
Comment=Local-first, cross-platform RSS reader
Exec=keryx %u
Icon=${SNAP}/meta/gui/keryx.png
Terminal=false
Type=Application
Categories=Network;News;Feed;
MimeType=x-scheme-handler/keryx;application/x-opml+xml;text/x-opml;
