[Desktop Entry]
Name=Keryx
Comment=Local-first, cross-platform RSS reader
Exec=keryx
Icon=${SNAP}/meta/gui/keryx.png
Terminal=false
Type=Application
Categories=Network;News;Feed;
